{% extends 'index.html' %}

{% block content %}
<section class="bg0 p-t-104 p-b-116">
	<div class="container">
		<div class="flex-w flex-tr space-between">
			<div class="size-209 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
				<div class="flex-w w-full p-b-42">
					<div class="size-208 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
						<p>email change</p>
					</div>
				</div>
				<div class="flex-w w-full p-b-42">
					<div class="size-208 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
						
					</div>
				</div>
			</div>


		</div>
	</div>
</section>	
{% endblock %}
