{% extends 'index.html' %}

{% block content %}
<section class="bg0 p-t-104 p-b-116">
	<div class="container">
		<div class="flex-c-m">
			<div class="size-209 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
				<div class="flex-c-m w-full p-b-42">

			

					<div class="size-212 p-t-2" >
						<span class="mtext-111 cl2 flex-c-m">
							Mot de passe changé avec succes
						</span>

						<p class="stext-110 cl6  p-t-18">
							Felicitations, vous venez de changez votre mot de passe avec succès
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
{% endblock %}
